@font-face {
    font-family: 'Dhyana';
    font-style: normal;
    font-weight: normal;
    src: local('Dhyana'), url('font-family/Dhyana-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Dhyana';
    font-style: normal;
    font-weight: bold;
    src: local('Dhyana'), url('font-family/Dhyana-Bold.woff') format('woff');
}


:root {
    font-size: 24px;
    --black: #000000;
    --white: rgb(255, 255, 255);
}

@media screen and (min-width:1270px) {
    :root {
        font-size: 24px;
    }

    .main {
        width: 60%;
        margin: 0 auto;
    }

    .main-histoire {
        width: 60vw;
        margin: 0 auto;
    }
}

@media screen and (min-width:2500px) {
    :root {
        font-size: 30px;
    }
}

* {
    box-sizing: border-box;
}

body,
ul,
li,
figure,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
    color: var(--white);
}

/* body */
body {
    background-color: var(--black);
    font-family: 'Dhyana';
    color: var(--smoky-black);
    font-size: .75rem;
}

/* utilities */
.contenaire {
    width: 90%;
    margin: 0 auto;
}

.PlayCreateJDR {
    margin-bottom: 10vh;

}

.header-logo {
    /* position: absolute; */
    /* float: right; */
}

.header-first {
    height: 85vh;
    color: var(--white);
    font-size: 1.3rem;
    background-image: url(img/landscape-g68c08a86a_1920\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.header {
    text-align: center;
}

.header-div {
    height: 70%;
}


.header-txt {
    font-size: 1rem;
}

span {
    opacity: 0;
    transition: all 0.5s ease;
    transform: translateY(50px);
    display: inline-block;
}

span.fade {
    opacity: 1;
    transform: translateY(0px);
}

/* nav barre */

.nav-ul {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 1rem 0.5rem; */
    /* gap: 0.5rem; */
    /* height: 6vh; */
    list-style: none;
    color: black;
    text-align: center;
    z-index: 1000;
}

.nav_lnk {
    text-align: center;
    font-size: 0.7rem;
    padding: 0.5rem;
    /* padding: 0.5rem 1rem; */
    /* font-weight: bold; */
    text-transform: uppercase;
    text-decoration: none;
 
}
.nav_lnk:hover{
    text-decoration: underline;
}

.li_lnk {
    text-align: center;
    font-size: 0.7rem;
    padding: 0.5rem;
    /* padding: 0.5rem 1rem; */
    /* font-weight: bold; */
    text-transform: uppercase;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
  
}
.li_lnk:hover{
    text-decoration: underline;
}

.nav-ul :not(:last-child, .svg) {
    border-right: 1px black solid;
}

.nav-barre{
    position: fixed;
    bottom: 0;
    background-color: var(--white);
    width: 100%;
    text-align: center;
    /* height: 10vh; */
    z-index: 1000;

}

.nav-contenaire-name {
    display: none;
}
.svg{
    max-width: 50%;
    min-width: 48px;
    aspect-ratio: 1/1;
    border: none;
    margin-top: 0.5rem;
}

.test{
    padding: 0 3vw;
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
}

.nav_link_destok{
    display: none;
}

@media screen and (min-width:1270px) {
    .nav-barre {
        position: relative;
    }

    .nav-name {
        display: block;
        color: var(--black);
    }

    .nav-contenaire-name {
        position: absolute;
        position: left;
        display: flex;
        padding: 0.5rem;
        font-size: 0.6rem;
        top: 0.5rem;

    }

    /* pb avec en bootstrap .header-logo, .header-tlt  */
    .nav-logo {
        display: none;
    }

    .nav-ul {
        height: 10vh;
        /* gap: 1rem; */
        
    }

    .nav_lnk {
        font-size: 0.6rem;
        padding: 1rem;
        display: block;
    }
    .li_lnk {
        font-size: 0.6rem;
        /* padding: 1.2rem; */
    }
    .header-first {
        height: 100vh;
        font-size: 2rem;
    }
    .nav_link_destok{
        display: block;
    }
    .svg{
        display: none;
    }
}


#principal {
    position: relative;
    border: none;
}

.menu {
    width: 100%;
    position: absolute;
    background-color: var(--white);
    opacity: 1;
    transition: opacity 2s ease;
    /* transition: all 3s ease; */
    top: -20.5vh;
    left: 0;
}

.navinnav {
    /* position: relative; */
    opacity: 1;
    transition: opacity 0.5s ease;
}

.transition {
    opacity: 1;
    transition: opacity 0.5s ease;
}

.display {
    display: none;
}

.menulnk {
    /* border: 1px black solid; */
}

.menulist {
    list-style: none;
}

.menu-itm {
    height: 50px;
    border-bottom: 1px black solid;
}


#menuHistoire>li {
    border-right: none;
}

@media screen and (min-width:1270px) {
    .menu {

        /* transition: all 3s ease; */
        top: 10vh;;
        
    }

    .menu-itm {
        border-top: 1px black solid;
        border-bottom: none;
    }
    .test{
        /* height: 10vh; */
    }
}
/* BREADCRUMB */
.breadcrumb {
    padding: 0 .5rem;
}

.breadcrumb ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}
    
.breadcrumb li:not(:last-child)::after {
    display: inline-block;
    margin: 0 .25rem;
    content: "→";
}

a:active, a:focus, a:hover {
    text-decoration: none;
}
.active {
    background-color: var(--bg-color);
    color: var(--white);
}


/* MAIN HISTOIRE */
.title_main {
    text-align: center;
    text-transform: uppercase;
    font-size: 1.2rem;
    margin: 1rem 0.5rem 0.5rem 0.5rem;
}

/* histoire */

.history {
    font-family: 'Almendra', serif;
    font-size: 0.75rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    margin-top: 1rem;
    box-shadow: var(--white) 1px 4px 24px;

}

.history-txt {
    font-family: 'Almendra', serif;
    font-size: 1rem;
}

.history-lnk {
    width: 100%;
}

.history-img {
    width: 100%;
}

.history-resume {
    line-height: 1.3rem;
    padding: 0 1rem;
}

.histories {
    margin-top: 1rem;
    max-width: 1400px;
    margin: 0 auto;
}

.main-histoire {
    margin-top: 1rem;
    max-width: 1400px;
    margin: 0 auto;
}


@media screen and (min-width:1270px) {
    .histories {
        display: flex;
    }

    .history {
        aspect-ratio: 1/0.8;
        /* height: 600px; */
    }

    .history-contenaire {
        width: calc(50%);
    }

    .history-resume {
        margin: auto;
    }

    .contenaire-dimension {
        position: relative;
        min-height: 40vh;
        height: 500px;
    }

    .buttonMJ {
        position: absolute;
        bottom: 0;
    }

}

/* Catégorie */
.categorie {
    border: 1px solid var(--white);
    max-width: 1100px;
}

.categorie-tlt {
    text-align: center;

}

.categorie-lst {
    display: flex;
    flex-wrap: wrap;

}

.categorie-itm {
    margin: 0.5rem 0;
    width: 50%;
    /* padding: 0.5rem; */
    list-style: none;
}

@media screen and (min-width:1270px) {
    .categorie-itm {
        width: 30%;
    }

    .categorie-lst {
        justify-content: flex-end;
    }
}

/* jdr */
.contenaire-history-wrap {
    border: 1px solid var(--white);
    border-radius: 6%;
    padding: 0.5rem;
    text-align: center;
    margin-bottom: 0.5rem;
}

.contenaire-history_img {
    width: 100%;
    border-radius: 6%
}

.contenaireimg {
    display: flex;
    flex-direction: row-reverse;
    max-width: 800px;
    margin-bottom: 0.5rem;
}

.imgretour {
    width: 12vw;
    max-width: 60px;
}

@media screen and (min-width:1000px) {}

/* statistiques */
.stats {
    display: flex;
    width: 80%;
    margin: 0.5rem;
    gap: 1rem;
    justify-content: space-evenly;
    align-items: center;

}



/* BOUTONS */
.buttonMJ {
    display: flex;
    justify-content: end;
    width: 100%;
    gap: 0.5rem;
    margin: 0 0.5rem 0.5rem 0;
}


.buttonplus {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 1.5rem;
    color: #FFFFFF;
    background-color: #000000;
    border-radius: 100%;
    aspect-ratio: 1/1;
    width: 2rem;
    text-align: center;
    border: 2px solid var(--white);
    line-height: 1;

}


.section_choice{
    display: flex;
align-items: center;
align-content: center;
text-align: center;
justify-content: center;
flex-wrap: wrap;
}

.title-button {
    margin: 0 auto;
    display: flex;
    text-align: center;
    justify-content: space-around;
    margin-bottom: 0.5rem;
}

.button-lst {
    display: flex;
    flex-direction: column;
    list-style: none;
    text-align: center;
    align-items: center;
}

.button-item {
    width: 100%;
    border-radius: 1rem;
    border: solid 2px var(--white);
    margin: 0.5rem;
    height: 5rem;
    color: var(--white);
}

.choice-itm {
    border-radius: 1rem;
    width: 80%;
    /* height: 100%; */
    background-color: black;
    font-size: 1rem;
    border-radius: 1rem;
    border: solid 2px var(--white);
    color: var(--white);
    text-decoration: none;
    padding: 1rem;

}

.choice-itm:hover {
    box-shadow: var(--white) 1px 1px 50px;
    background-color: #3a3939;
}

.choice-itm:disabled {
    /* visibility: hidden; */
    /* background-color: var(--white); */
    box-shadow: none;
    color: var(--black);
}


.history-button {
    animation: wiggle 2s linear infinite;
}

.dashboard-lst {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    list-style: none;
    text-align: center;
    align-items: center;
}

.dashboard-button {
    width: calc(50%-1rem);
    ;
    display: flex;
    align-items: center;
    border-radius: 1rem;
    border: solid 2px var(--white);
    padding: 0.5rem;
    height: 5rem;
    color: var(--white);
    box-shadow: var(--white) 1px 4px 24px;
    margin: 0 0.5rem;
}

@media screen and (min-width:1270px) {

    .title-button {
        justify-content: center;
        gap: 1rem;
    }

    .button-lst {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .button-item {
        width: calc(50% - 1rem);
    }

    .choice-itm {
        width: calc(50% - 1rem);
    }


}

/* Keyframes */

.history-button {
    margin: 1rem 0;
    background: linear-gradient(to left, #46369fbc, #2a5439);
    /* border: 1px solid var(--white); */
    border-radius: 0.5em;
    color: #fff;
    font-size: 1em;
    transform-origin: 50% 5em;
    z-index: 1;
    padding: 0.5rem;
    letter-spacing: 0.1rem;
    cursor: pointer;
    position: relative;
    padding: 10px;
    text-decoration: none;
}

.history-button::before {
    /* content: ''; */
    /* border-radius: 1000px; */
    min-width: calc(300px + 12px);
    min-height: calc(60px + 12px);
    border: 6px solid #00FFCB;
    box-shadow: 0 0 60px rgba(0, 255, 203, .64);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
}

.history-button:hover,
.history-button:focus {
    color: var(--white);
    transform: translateY(-6px);
}

.history-button:hover::before,
.history-button:focus::before {
    opacity: 1;
}

.history-button::after {
    content: '';
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 2px solid #00FFCB;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
}

.history-button:hover::after,
.history-button:focus::after {
    animation: none;
    display: none;
}

@keyframes ring {
    0% {
        width: 30px;
        height: 30px;
        opacity: 1;
    }

    100% {
        width: 100px;
        height: 100px;
        opacity: 0;
    }
}

/* fin d'animation */



.choice-itm {

    color: var(--white);
    text-decoration: none;

}

/* FOOTER */





.selected {
        background-color: var(--white);
}


@media screen and (min-width:1270px) {

    .form {
        display: flex;
        justify-content: center;
        /* align-items: center;
    text-align: center; */
        flex-direction: column;
        gap: 2rem;
        color: var(--white)

    }

    .form_group {
        gap: 0.5rem;
        display: flex;
        flex-direction: column;
    }

    .form_item {
        width: 100%;
        color: var(--white)
    }

    .input {
        width: 100%;
        height: 3vh;
    }

}
.form_text{
    width : 100%;
}
.form_buton{
    width: 50%;
}

.form_item {
    color: var(--white)
}

.node{border: 1px white solid;
padding: 0.5rem;
list-style: none;
margin: 0.5rem;}
.hidden {
    display: none;
}